<!DOCTYPE html>
<html>
<head>
    <title>BCP</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />


    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <!-- <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>



    <!-- js -->
    <script type="text/javascript" src="js/map.js"></script>
    <script type="text/javascript" src="js/exception.js"></script>
    <script type="text/javascript" src="js/input_check.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/search.js"></script>


    <!-- style -->
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css"/>
 
</head>
<body>
    <div class='navbar navbar-default navbar-static-top'>
        <div class='container-fluid'>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class='navbar-brand' href='index.html'>Bridge Corrosion Predictor</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class='active'><a href="index.html">Map</a></li>
              <li><a href="about.html">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    <!-- <h1 align="center">Bridge Corrosion Prediction</h1> -->

    <div id="map"></div>
    <!-- The search section -->
    <div class="container" >
        <form id="search-form" action="/" method="post" align="right">
            Latitude: <input type="text" id="latitude" name="latitude"><br>
            Longitude: <input type="text" id="longitude" name="longitude"><br>
            <!-- <input type="submit" value="Search"> -->
            <input type="button" id= "btnsubmit"  value="submit" >

        </form>
        
    </div> 
    {% if warning %}
            {{ warning }}
    {% endif %}
    {% if result %}
    <div class="search-result">
        <!-- The result list -->
        <div class="table">
            <h2>Results</h2>
            <p>Latitude: {{ result['LAT'] }}</p>
            <p>Longitude: {{ result['LON'] }}</p>
            <table>
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Chloride exposure rate (kg/m^3)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in result.items() %}
                        {% if key != 'LAT' and key != 'LON' %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- The plot section -->
        <div class = "plot" align="center">
            {{ div_string|safe }}
        </div>
    </div>
    {% endif %}   
</body>
</html>