<!DOCTYPE html>
<html>
<head>
    <title>BCP</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    
    <!-- <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/style.css"/> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.css') }}">

    <style>
        
    </style>
</head>
<body>
    <div class='navbar navbar-default navbar-static-top'>
        <div class='container-fluid'>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class='navbar-brand' href='index.html'>Bridge Corrosion Predictor</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class='active'><a href="index.html">Map</a></li>
              <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
          </div>
        </div>
      </div>
    <!-- <h1 align="center">Bridge Corrosion Prediction</h1> -->
    <!-- The search section -->
    <div class="container" >
        <form id="search-form" action="/" method="post" align="right">
            Latitude: <input type="text" id="latitude" name="latitude"><br>
            Longitude: <input type="text" id="longitude" name="longitude"><br>
            <input type="submit" value="Search">
        </form>
        
    </div> 
    <div id="map" align="center"></div>
    {% if warning %}
            {{ warning }}
    {% endif %}
    {% if result %}
    <div class="search-result">
        <!-- The result list -->
        <div class="table">
            <h2>Results</h2>
            <p>Latitude: {{ result['LAT'] }}</p>
            <p>Longitude: {{ result['LON'] }}</p>
            <table>
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Chloride exposure rate (kg/m^3)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in result.items() %}
                        {% if key != 'LAT' and key != 'LON' %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- The plot section -->
        <div class = "plot" align="center">
            {{ div_string|safe }}
        </div>
    </div>
    {% endif %}   
    <!-- The map section -->
    <script>
        var map = L.map('map').setView([43.95, -79.7], 7);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiY3ludGhpYWwiLCJhIjoiY2x0b3FjNXUyMGh6eTJqcGF4MWllYjh0eCJ9.OHUn3IOjS99GIMLYMmyh4w', {
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1
        }).addTo(map);

        function onMapClick(e) {
            document.getElementById('latitude').value = e.latlng.lat;
            document.getElementById('longitude').value = e.latlng.lng;
        }
        
        map.on('click', onMapClick);
    </script>
</body>
</html>