html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.search-container {
    /* display: flex; */
    display: block;
    justify-content: space-between;
    position:absolute;
    z-index: 500;
    background-color: lightblue;
    width: fit-content;
    top: 10vh;
    padding: 10px;
    left: 3vw;
}
#map {
    height: 100%;
    width: 100%;
    /* position:absolute; */
    z-index: 400;
}
input[type=text] {
    width: 13vw;
    height: 2vw;
    /* font-size: 16px; */
}
table {
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
    display: block;
    height: 300px;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
.errormsg{
    display: flex;
    /* display: block; */
    /* width:min-content; */

    /* z-index: 500; */
    justify-content: space-between;
    position:absolute;
    z-index: 500;
    background-color: lightblue;
    width: fit-content;
    top: 30vh;
    padding: 10px;
    left: 3vw;
}
.search-result {
    display: flex;
    /* display: block; */
    width:min-content;

    z-index: 500;
    justify-content: space-between;
    position:absolute;
    z-index: 500;
    background-color: lightblue;
    /* width: fit-content; */
    top: 30vh;
    padding: 10px;
    left: 3vw;
}
.table {
    flex: 20%;
}
.plot {
    flex: 80%;
}
.leaflet-control-zoom {
    right: 10px;
    bottom: 10px;
    left: auto;
  }